* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: black;
  position: relative;
  font-family: ROBOTO, arial, "Times New Roman", Times, serif;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
  color: white;
  background-image: url("https://bouncycastlenetwork-res.cloudinary.com/image/upload/f_auto,q_auto,c_limit,w_1000/ff36cb86b0aefad50ddd401ff138fde5");
  background-position: center;
}

.header img {
  width: 5%;
  object-fit: contain;
}

.gaming-window {
  position: absolute;
  width: 60vw;
  height: 80vh;
  top: 20%;
  left: 20%;
  bottom: 20%;
  background-color: black;
  background-image: url("https://res.cloudinary.com/momentum-media-group-pty-ltd/image/upload/c_fill,q_auto:best,f_auto,e_unsharp_mask:80,w_828,h_400/Cyber%20Security%2Fpokemon-ball_dxhymz");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.start-screen {
  padding: 5rem;
  color: rgb(255, 153, 0);
  max-width: 30vw;
}

.start-screen-title {
  background-image: url("https://cdn.pixabay.com/photo/2022/09/05/14/32/gold-frame-7434298_1280.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  padding: 2rem;
  margin-bottom: 2rem;
}

.start-screen-copyright-text {
  margin-bottom: 1rem;
}

.start-screen-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start-screen-buttons button {
  max-width: 10vw;
  padding: 15px;
  background-color: rgb(29, 28, 28);
  color: orange;
}

#wildHp,
#playerHp {
  padding: 5px;
}

.start-screen-buttons button:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: 1px 0px 5px 2px rgba(255, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 5px 2px rgba(255, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 2px rgba(255, 0, 0, 0.75);
}

.dialogue-box {
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 10vh;
  background-color: lightblue;
  opacity: 100%;
  animation: fadeIn 0.3s;
}

.dialogue-box button {
  padding: 15px;
  cursor: pointer;
}

.dialogue-box h2 {
  color: rgb(3, 3, 2);
  font-size: 1.2rem;
}

.select-pokemon-scene {
  position: absolute;
  display: none;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-color: rgb(18, 35, 82);
  z-index: 2;
}

.select-pokemon-scene img {
  object-fit: cover;
  width: 100%;
}

.starters-image {
  position: relative;
}

#charmander-button {
  position: absolute;
  width: 100px;
  padding: 10px;
  background-color: rgb(255, 166, 0);
  bottom: 10%;
  left: 18vw;
}

#squirtle-button {
  position: absolute;
  width: 100px;
  padding: 10px;
  background-color: rgb(120, 174, 255);
  top: 45%;
  left: 27vw;
}

#bulbasaur-button {
  position: absolute;
  width: 100px;
  padding: 10px;
  background-color: lightgreen;
  top: 45%;
  left: 10vw;
}

.select-pokemon-buttons button:hover {
  background-color: lightgray;
  color: white;
}

.animated-text {
  display: inline-block;
  animation: fadeIn 1s ease forwards;
}

.animated-button {
  display: block;
  animation: fadeIn 3s;
}

.battle-scene {
  position: absolute;
  display: none;
  top: 0;
  background-image: url("../images/pokemonbattlescene.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.battle-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
  left: 1vw;
  z-index: 1;
}

.bag-bar {
  display: none;
}

.pokemon-skills-bar {
  display: none;
}

.battle-bar button {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 10vw;
  height: 9vh;
  font-size: 2rem;
  background-color: rgb(247, 247, 186);
}

.battle-bar-button-container {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  justify-content: center;
}

.battle-bar button:hover {
  background-color: antiquewhite !important;
}

.wild-pokemon-info-container {
  display: flex;
  height: 10vh;
  width: 20vw;
  position: absolute;
  top: 5%;
  left: 5%;
}

.player-pokemon-info-container {
  display: flex;
  height: 10vh;
  width: 20vw;
  position: absolute;
  bottom: 12%;
  right: 5%;
}

.player-pokemon-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 20vw;
}

.wild-pokemon-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 20vw;
}

.wild-pokemon img {
  width: 20%;
  position: absolute;
  right: 20%;
  top: 20%;
}

.player-pokemon img {
  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.health-bar {
  position: absolute;
  right: 5%;
  bottom: 30%;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 10vw;
  min-height: 3vh;
  background-color: rgb(18, 211, 18);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
