#stat-shop-interface {
    position: absolute;
    margin: auto;
    display: none;
    left: 0;
    right: 0;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 5rem;
    background-image: url("https://www.shutterstock.com/shutterstock/videos/3482446057/thumb/8.jpg?ip=x480");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#stat-shop-pokemonteam {
    left: 5%;
    top: 6%;
    gap: 5px;
    border-radius: 5px;
    display: block;
    width: 30%;
    height: 85%;
    background-color: red;
    position: absolute;
}

#stat-shop-exit-button {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    width: 3%;
}

#stat-shop-pokemon0,
#stat-shop-pokemon1,
#stat-shop-pokemon2,
#stat-shop-pokemon3,
#stat-shop-pokemon4,
#stat-shop-pokemon5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 17.5%;
    background-color: blue;
}

#stat-shop-pokemon0 img {
    height: 30%;
}