#stat-shop-interface {
    position: absolute;
    margin: auto;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.playground.com/5b0d3cecf36846368183927bcc274c9a.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#upgrades {
    width: 60%;
    height: 96%;
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: gold;
}

#upgrades button {
    background-image: url("/resources/images/wooden-images/woodensquare.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 32.6%;
    height: 15%;
}

#pokemon-base-stats {
    margin-top: 10%;
}

#stat-shop-pokemonteam {
    /* left: 5a%; */
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 85%;
    position: absolute;
    gap: 2%;
}

#stat-shop-pokemonteam img {
    width: 25%;
}

#stat-shop-exit-button {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    width: 3%;
}

#stat-shop-pokemon0,
#stat-shop-pokemon1,
#stat-shop-pokemon2,
#stat-shop-pokemon3,
#stat-shop-pokemon4,
#stat-shop-pokemon5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 16.5%;
    background-color: lightblue;
    flex-direction: row;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#stat-shop-upgrades {
    position: absolute;
    padding: 1%;
    background-color: lightblue;
    width: 50%;
    height: 80%;
    right: 5%;
    top: 10%;
}

#stat-shop-upgrade-pokemon {
    width: 30%;
    height: 30%;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    justify-content: center;
}

#stat-shop-upgrade-pokemon img {
    height: 100%;
}

#pokemon-stats {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 3%;
    padding: 1%;
    background-color: white;
}
