:root {
  font-size: 0.8vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  min-height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  font-family: ROBOTO, arial, "Times New Roman", Times, serif;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

#eevee-loading-screen {
  width: 5%;
}

#loading-screen {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  animation: fadeOut 5s ease-out forwards;
  pointer-events: none;
}

loading-screen img {
  width: 5%;
}

#load-button {
  display: none;
}

.gaming-window {
  overflow: hidden;
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  aspect-ratio: 16/9;
  width: 85%;
  top: 0;
  background-color: rgb(199, 158, 207);
  background-image: url("/resources/images/background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

}

.dialogue-container {
  display: none;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

#info-box {
  top: 40%;
  width: 15%;
  background-color: beige;
  border: 3px solid red;
  padding: 1%;
  font-weight: bold;
  border-radius: 1%;
}

.start-screen {
  margin-top: auto;
  margin-bottom: auto;
  padding: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  width: 30%;
  height: 80%;

}

.start-screen-title {
  background-image: url("/resources/images/roguelikeadventure.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10%;
  margin-bottom: 1%;
  border: 1px solid black;
  width: 100%;
  height: 50%;
}

.start-screen-copyright-text {
  margin-bottom: 1rem;
  background-color: rgb(29, 28, 28);
  padding: 5%;
  width: 100%;
}

.start-screen-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start-screen-buttons button {
  width: 100%;
  font-size: 1.2rem;
  padding: 4%;
  background: linear-gradient(to bottom, rgb(175, 132, 201) 80%, rgb(126, 88, 150) 20%);
  color: rgb(255, 255, 255);
}

#main-menu {
  display: none;
  background-image: url("/resources/images/savescreen.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu button {
  width: 20%;
  padding: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.start-screen-buttons button:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: 1px 0px 5px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 0px 5px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 0px 5px 2px rgba(255, 255, 255, 0.75);
}

.dialogue-box {
  position: absolute;
  width: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 20%;
  background-color: lightgray;
  opacity: 90%;
  animation: fadeIn 0.3s;
}

.dialogue-box button {
  padding: 1%;
  width: 10%;
  cursor: pointer;
}

.dialogue-box h2 {
  color: rgb(3, 3, 2);
  font-size: 1.5rem;
}

.dialogue-box p {
  font-size: 1.2rem;
}

.select-pokemon-scene {
  position: absolute;
  display: none;
  top: 0;
  background-image: url("/resources/images/pokecenter.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(18, 35, 82);
}

#select-pokemon img:hover {
  cursor: pointer;
  height: 32%;
}

#select-pokemon img {
  height: 30%;
}

#squirtle {
  position: absolute;
  left: 20%;
  top: 50%;
}

#bulbasaur {
  position: absolute;
  left: 45%;
  top: 50%;
}

#charmander {
  position: absolute;
  left: 70%;
  top: 50%;
}

.animated-text {
  display: inline-block;
  animation: fadeIn 1s ease forwards;
}

.animated-button {
  display: block;
}


#shop img {
  transform: translateY(10%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveToAndBack {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: var(--translate-values);
  }

  100% {
    transform: translate(0, 0);
  }
}